.footerSection{
    background: #679ED8;
    height: 200px;
    width: 100%;
    color: white;
}

.footerCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}