.pano-image{
    width: 100%;
    height: 100%;
}

.vrMainDiv{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    /*background-color: black;*/
    background: rgba(0, 0, 0, 0.9);
}

.vrMainImage{
    -webkit-filter: brightness(20%);
    filter:brightness(50%);
}
.vr_div{
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    height: 49px;
    /*background-color: rgba(255,255,255, 0.62);*/
    padding-left: 10px;
    padding-top: 10px;
}
.vr_div p {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.modalWindow{
    position: relative;
    width: 900px;
    height: 600px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 10rem;
    border: 1px solid black;
}

.closeModal{
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    z-index: 1;
}
.closeModal:hover{
    font-size: 35px;
}
